# Site settings
title: Bindy Coeurs en Action
description: Association loi 1901 à but non lucratif organisant des événements solidaires (Koh-Lanta, Pékin Express) pour collecter des fonds au profit d'associations caritatives.
baseurl: ""
url: "https://bindycoeursenaction.fr"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
